{{> navegacion}}

<!-- Modal Sing Up-->

{{> modal_login}}

<!-- Modal Registrar usuario -->

{{> modal_registrarusuario}}

<!-- Modal Registrar sìtio -->

{{> modal_registrarsitio}}

{{!-- 
{{#if user}}
<p>Tenemos el usuario: {{user}}</p>
{{/if}}

{{#if rol}}
<p>Tenemos el Rol: {{rol}}</p>
{{/if}}

{{#if sitios}}
<p>tengo el query de los sitios</p>
{{/if}} --}}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        {{#if sitiossliders}}
        {{#each sitiossliders}}

        {{#if estado_activeslider}}
        <div class="carousel-item active">
            {{else}}
            <div class="carousel-item">
                {{/if}}

                <img class="d-block w-100" src="/img/t1.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5><b>{{nombre}}</b></h5>
                    <p>Este maravilloso sitio se ubica en {{ubicacion}}, en el que te ofreceran los servicios de
                        {{servicios}} y para pasarla agradablemente el presupuesto recomendado es {{presupuesto}} </p>
                </div>
            </div>

            {{/each}}
            {{/if}}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- SITIOS TURISTICOS -->

    <div class="small-container1">
        <h2 class="title1">Sitios turisticos publicados por usuarios</h2>
        <hr>
        <div class="row1">
            {{#if sitios}}
            {{#each sitios}}

            <div class="col-41">
                <a href=""><img src="img/t2.jpg"></a>
                <hr>
                <a href="">
                    <h4><b>{{nombre}}</b></h4>
                </a>
                <hr>
                <div class="datos">
                    <a href=""><b>UBICACIÓN : </b> {{ubicacion}} </a>
                    <a href=""><b>PUNTUACION : </b> {{puntuacion}}</a>
                    <a href=""><b>SERVICIOS : </b>{{servicios}}</a>
                    <a href=""><b>PRESUPUETO : </b> {{presupuesto}}</a>
                </div>
                <hr>
                <a href="/detallessitio?user={{user}}&sitio={{nombre}}" class="btn1">Ver detalles</a>

                {{#if estado_validacion }}
                <a href="/verificarsitio?idsitio={{id}}" class="btn1">Validar Sitio</a>
                {{/if}}

            </div>

            {{/each}}
            {{/if}}

        </div>
    </div>

    <!-- Footer -->

    {{> footer}}