{{> navegacion}}

<!-- Modal Sing Up-->
{{> modal_login}}

<!-- Modal Registrar usuario -->

{{> modal_registrarusuario}}

{{#each sitio}}




<div class="small-container2 single-sitio">
    <div class="row2">
        <div class="col-22">
            <img src={{urlimg}}>
        </div>
        <div class="col-22">
            <h1><b></b>{{nombre}}</h1>
            <div class="datos">
                <a href=""><b>Puntuacion : </b>{{puntuacion}}</a>
                <a href=""><b>Servicio : </b>{{servicios}}</a>
                <a href=""><b>Presupuesto : </b>{{presupuesto}}</a>
            </div>
        </div>
    </div>
</div>

<!-- Momentos -->

<div class="small-container11">
    <div class="row1">
        <h2 class="title1">Momentos vividos por usuarios</h2>
        <!-- <input type="file" name="archivo"> -->
        {{#if user}}
        <form method="POST" class="form-exp" action="/registrarmomento?user={{user}}&idsitio={{id}}">
            <input name="experiencia" type="text" placeholder="Ejemplo: Comparte tu experiencia">
            <input name="archivoregistrarmomento" class="btn1" type="file">
            <button type="submit" class="btn1">Registrar</button>
        </form>
        {{else}}
        <div class="form-exp">
            <input name="experiencia" type="text" placeholder="Ejemplo: Comparte tu experiencia">
            <button class="btn1" data-toggle="modal" data-target="#modalSubscriptionForm-login">Registrar</button>
        </div>
        {{/if}}

    </div>
</div>

{{/each}}

<div class="small-container1">
    <div class="row1">
        {{#each momentos}}
        <div class="col-66">
            <a href=""><img src={{urlimg}}></a>
            <hr>
            <h4>Usuario : {{fkusuario}}</h4>
            <p>Experiencia : {{experiencia}}</p>
        </div>
        {{/each}}
    </div>
</div>


<!-- Footer -->

{{> footer}}