<div class="contenedor_detalles">

    {{#each sitio}}
    <div class="contenedor_img">
        <img class="img" src={{urlimg}} />
    </div>

    <div id="task_datos_sitio">
        <div class="titulo">
            <p><b>Sitio:</b>{{nombre}} </p>
        </div>
        <div class="titulo">
            <p><b>Puntuacion:</b>{{puntuacion}} </p>
        </div>
        <div class="titulo">
            <p><b>Servicio:</b>{{servicios}} </p>
        </div>
        <div class="titulo">
            <p><b>Presupuesto:</b>{{presupuesto}} </p>
        </div>

    </div>

    <form method="POST" action="/registrarmomento?user={{user}}&idsitio={{id}}">
        <textarea name="experiencia" id="mensaje" class="text_area"
            placeholder="Cuentanos tu experiencia en este sitio"></textarea>
        <img src="" name="imgSubida" id="imgSubida" alt="">
        <input name="archivoregistrarmomento" class="bton_momento" type="file">
        <input class="bton_momento" type="submit" value="Registrar Momento" />
    </form>

    {{/each}}

</div>

<div class="container">
    <hr>
    <h1>Momentos de los usuarios</h1>
    <hr>
    <div class="row">
        <div class="card-columns" id="task_momentos">
            {{#each momentos}}

            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-fluid" src={{urlimagen}} name="imgSubida" id="imgSubida" alt="">
                <div class="card-block">
                    <h4 class="card-title"> Usuario: {{fkusuario}}</h4>
                    <p class="card-text"> Experiencia: {{experiencia}} </p>
                </div>
            </div>


            {{/each}}
        </div>
    </div>
</div>